
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>NutriSystem<span>Sistema de Marcação de Consultas</span></div>
		</div>
        <br>
        <form [formGroup]="loginForm" class="form-login">
		<div class="login">
				<input type="text" placeholder="Login" formControlName="crn" required><br>
				<input type="password" placeholder="Senha" formControlName="senha" required><br>
                <input class="btn1" type="button" value="Entrar" (click)="fazerLogin()">
                <input class="btn2" type="button" value="Quero me cadastrar" (click)="cadastrarNutricionista()">
                
        </div>
    </form>
    
